body{
	background-color:#e2e2e2;
}
header{
	width:100%;
	position:fixed;
	/*height:50px;*/
	background-color:#ccc;
	overflow:hidden;
	z-index:2;
	box-sizing:border-box;
}

.page-content{
	padding-top:50px;
}

.page-content .main-carousel{
	width:100vw;
	height:400px;
	overflow:hidden;
	position:relative;
	z-index:1;
}

.page-content .main-carousel .carousel-next,
.page-content .main-carousel .carousel-prev{
	position:absolute;
	top:50%;
	padding:20px;
	background-color:rgba(200,200,200,1);
	cursor:pointer;
	margin-top:-25px;
	z-index: 10;
}

.page-content .main-carousel .carousel-next{
	right:0;
}

.page-content .main-carousel .carousel-prev{
	left:0;
}

.page-content .main-carousel .carousel-cells{
	width:99999px;
	height:100%;
	background-image: url('../img/slide-background.jpg');
	position: relative;
	overflow: hidden;
}

.page-content .main-carousel .carousel-cells article{
	width:100vw;
	height:100%;
	float:left;
	display:flex;
	align-items: center;
	-webkit-align-items: center;
}

.page-content .main-carousel .carousel-cells article .slide-text {
	text-align: center;
	margin: auto;
}
.page-content .main-carousel .carousel-cells article .slide-text h1 {
	font-size: 3em;
}
.page-content .column-content {
    padding: 1.8rem 1.1rem;
    background-color:#f0f0f0;
}
.page-content .column-content .three-columns {
    padding-top: 1em;
    -webkit-columns: 3 150px;
    -moz-columns: 3 150px;
    columns: 3 150px;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
}

@media(min-width:767px ) {
	.page-content .column-content .three-columns {
		-webkit-columns: 4 150px;
	    -moz-columns: 4 150px;
	    columns: 4 150px;
	}	
}


.page-content .column-content .three-columns .list-block {
	-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

.page-content .column-content .three-columns .list-block ul {
    margin-top: 1em;
    margin-bottom: 1em;
}

.page-content .column-content h1 {
    font-size: 1.6rem;
}
.page-content .column-content ul li {
	list-style-type: none;
}

header {
	height: auto;
	padding: 7px 0.5rem;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
header h2 {
	float: left;
	font-size: 1.8rem;
	line-height: 36px;
}

header nav {
	float: right;
}
header nav ul li {
 	display: block;
 	float: left;
 	background-color: #e2e2e2;
 	line-height: 36px;
 	padding: 0 1em;
    margin-right: 0.275em;
 }
 header nav ul li:last-of-type {
 	margin-right: 0;
 }



.carousel-cells {
  transition: transform 0.6s ease;
  -webkit-transition: transform 0.6s ease;
  -moz-transition: transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  will-change: transform;
  -webkit-will-change: transform;
  -moz-will-change: transform;
  -o-will-change: transform;
}



/*.page-content .main-carousel .carousel-cells article {
	position: absolute;
	transition: 0.6s ease;
	transform: translate(-100%, 0);
}
.page-content .main-carousel .carousel-cells article.active {
  	transform: translate(0, 0);
}    
.page-content .main-carousel .carousel-cells article.active ~ article {
  	transform: translate(100%, 0);
}
*/